<!doctype html>
<html>
<head>
<title>Buzzable</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="assets/css/bootstrap.css">
<link rel="stylesheet" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/anim.css">
<link rel="stylesheet" href="assets/css/site.css">
<link rel="stylesheet" href="assets/css/responsive.css">
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/common.js"></script>
</head>
<body>
<header class="wow animated fadeInDown">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light"> <a class="navbar-brand mb-1" href="index.html"><img src="assets/images/logo.png" class="img-fluid" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <!--<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a> </div>
          </li>
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pricing</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a> </div>
          </li>-->
            <li class="nav-item"><a class="nav-link" href="/test">Products</a></li>
          <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
          <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
          <li class="nav-item"><a class="clickbtn btn-bg" href="/signup">Sign Up Free</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<section class="banner text-center">
  <div class="container">
    <h2 class="heading wow animated fadeInUp">Social Media Analytics Platform</h2>
    <p class="wow animated fadeInUp">Get instant access to online mentions, grow customer satisfaction and sales.</p>
    <a class="clickbtn btn-bg wow animated fadeInUp" href="javascript:void(0);">Watch Video</a>
    <figure><img src="assets/images/banner-img.png" class="img-fluid" alt=""></figure>
  </div>
</section>
<section class="analytics">
  <div class="container">
    <h2 class="heading text-center wow animated fadeInUp">Social Media Analytics Platform</h2>
    <p class="text-center wow animated fadeInUp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <div class="row">
      <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6">
        <div class="analytic-types text-center wow animated fadeInLeft">
          <div class="iconframe get-social"><img src="assets/images/get-social.png" alt="" class="img-fluid"></div>
          <h3>Get Social<br>
            Insights</h3>
          <p>Discover what people are saying online about your brand - as it unfolds in real time. We gives you instant access to mentions</p>
        </div>
      </div>
      <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6">
        <div class="analytic-types text-center wow animated fadeInLeft">
          <div class="iconframe reach-customer"><img src="assets/images/reach-customer.png" alt="" class="img-fluid"></div>
          <h3>Reach<br>
            Customers. Fast.</h3>
          <p>React and engage quickly to real-time comments made about your brand. Follow-up on positive comments from your brand</p>
        </div>
      </div>
      <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6">
        <div class="analytic-types text-center wow animated fadeInRight">
          <div class="iconframe better"><img src="assets/images/better.png" alt="" class="img-fluid"></div>
          <h3>Better Decisions with<br>
            Predictive Analytics</h3>
          <p>Gain clarity on future company performance and receive recommendations on how to improve outcomes.</p>
        </div>
      </div>
      <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6">
        <div class="analytic-types text-center wow animated fadeInRight">
          <div class="iconframe detact"><img src="assets/images/detact.png" alt="" class="img-fluid"></div>
          <h3>Detect Sales<br>
            Opportunities.</h3>
          <p>80% of consumers do research or ask online before making a buying decision. Brand24 gives you the listening tools to find these leads,</p>
        </div>
      </div>
    </div>
    <div class="analytic-sap"></div>
    <div class="row">
      <div class="col-lg-5 col-xl-5 col-md-6">
        <div class="analytic-det wow animated fadeInLeft">
          <h2 class="heading">All-in-one hashtag<br>
            analytics tool</h2>
          <p>Learn how many times a hashtag have been used on Twitter, Instagram, or Facebook.Track the volume chart to see how your hashtags trend.</p>
          <p><a href="#" class="clickbtntrans">Track Volume</a></p>
        </div>
      </div>
      <div class="col-lg-1 col-xl-1 hidemob"></div>
      <div class="col-lg-6 col-xl-6 col-md-6 text-right">
        <figure class="wow animated fadeInRight"><img src="assets/images/all-in-one.png" alt="" class="img-fluid"></figure>
      </div>
    </div>
    <div class="analytic-sap"></div>
    <div class="row">
      <div class="col-lg-6 col-xl-6 col-md-6">
        <figure class="wow animated fadeInLeft"><img src="assets/images/smr.png" alt="" class="img-fluid"></figure>
      </div>
      <div class="col-lg-1 col-xl-1 hidemob"></div>
      <div class="col-lg-5 col-xl-5 col-md-6">
        <div class="analytic-det wow animated fadeInRight">
          <h2 class="heading">Social media reach<br>
            of your hashtags</h2>
          <p>Use hashtag analytics to find out what social media reach they generate across social media platforms and other sources. There's the chart, too.</p>
          <p><a href="#" class="clickbtntrans">Track Reach</a></p>
        </div>
      </div>
    </div>
    <div class="analytic-sap"></div>
    <div class="row">
      <div class="col-lg-5 col-xl-5 col-md-6">
        <div class="analytic-det wow animated fadeInLeft">
          <h2 class="heading">Most active profiles using your hashtags</h2>
          <p>Hashtag analytics shows social media profiles who use your hashtags most often. How about turning them into your brand ambassadors?</p>
          <p><a href="#" class="clickbtntrans">DISCOVER MOST ACTIVE AUTHORS</a></p>
        </div>
      </div>
      <div class="col-lg-1 col-xl-1 hidemob"></div>
      <div class="col-lg-6 col-xl-6 col-md-6 text-right">
        <figure class="wow animated fadeInRight"><img src="assets/images/map.png" alt="" class="img-fluid"></figure>
      </div>
    </div>
    <div class="analytic-sap"></div>
    <div class="row">
      <div class="col-lg-6 col-xl-6 col-md-6">
        <figure class="wow animated fadeInLeft"><img src="assets/images/all-in-one.png" alt="" class="img-fluid"></figure>
      </div>
      <div class="col-lg-1 col-xl-1 hidemob"></div>
      <div class="col-lg-5 col-xl-5 col-md-6">
        <div class="analytic-det wow animated fadeInRight">
          <h2 class="heading">Daily / weekly /<br>
            monthly reports</h2>
          <p>Stay up to date with the performance of your hashtags on Twitter, Instagram, Facebook, or Google+ thanks to email reports delivered directly to your inbox.</p>
          <p><a href="#" class="clickbtntrans">Get Hashtag Reports</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="analysis text-center">
  <div class="container">
    <h2 class="heading wow animated fadeInUp">Over 100,000 companies use Social Analysis to monitor the web.</h2>
    <p class="wow animated fadeInUp">Whether you're a one-person business, startup or Fortune 500 company, <span>Social Analysis helps you discover your digital footprint worldwide.</span></p>
    <a class="clickbtn btn-bg wow animated fadeInUp" href="javascript:void(0);">Watch Video</a>
    <div class="playicon wow animated fadeInUp"><img src="assets/images/play-icon.png" class="img-fluid" alt=""> DISCOVER SOCIAL MEDIA MONITORING</div>
  </div>
</section>
<section class="app-section text-center">
  <div class="container">
    <h2 class="heading wow animated fadeInUp">Social Media Analytics Platform</h2>
    <p class="wow animated fadeInUp">Get instant access to online mentions, grow customer satisfaction and sales.</p>
    <p class="apps-store wow animated fadeInUp"><a href="#"><img src="assets/images/app-store.jpg" class="img-fluid" alt=""></a> <a href="#"><img src="assets/images/play-store.jpg" class="img-fluid" alt=""></a></p>
    <figure><img src="assets/images/social-media-share.jpg" class="img-fluid" alt=""></figure>
  </div>
</section>
<footer>
	<div class="container">
    	<ul class="fnav">
        	<li class="wow animated fadeInDown">
            	<h2>Product</h2>
                <ul>
                	<li><a href="#">Overview</a></li>
                	<li><a href="#">Natural Language Search</a></li>
                	<li><a href="#">Genius Insights</a></li>
                	<li><a href="#">Automated Machine Learning</a></li>
                	<li><a href="#">Data Preparation</a></li>
                </ul>
            </li>
        	<li class="wow animated fadeInDown">
            	<h2>Solutions</h2>
                <ul>
                	<li><a href="#">Overview</a></li>
                	<li><a href="#">Financial Services</a></li>
                	<li><a href="#">Insurance</a></li>
                	<li><a href="#">Retail</a></li>
                	<li><a href="#">Healthcare</a></li>
                	<li><a href="#">Communications</a></li>
                </ul>
            </li>
        	<li class="wow animated fadeInDown">
            	<h2>Resources</h2>
                <ul>
                	<li><a href="#">Overview</a></li>
                	<li><a href="#">Webinars</a></li>
                	<li><a href="#">On-Demand Demo</a></li>
                	<li><a href="#">Free Trial</a></li>
                	<li><a href="#">Blog</a></li>
                </ul>
            </li>
        	<li class="wow animated fadeInDown">
            	<h2>Company</h2>
                <ul>
                	<li><a href="#">About Us</a></li>
                	<li><a href="#">Contact</a></li>
                </ul>
            </li>
        	<li class="wow animated fadeInDown">
            	<h2>Conect</h2>
                <ul class="f-social-list">
                	<li><a href="#"><i class="fa fa-twitter"></i></a></li>
                	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                	<li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </li>
        </ul>
    </div>
<div class="f-bottom">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-5 col-xl-5 col-md-6">
            <p class="copyright">Copyright <script> var d = new Date(); var dy = d.getFullYear(); document.write(dy);</script> Buzzable</p>
            </div>
        	<div class="col-lg-7 col-xl-7 col-md-6">
            <p class="f-bot-nav"><a href="#">Privacy Policy</a><a href="mailto:contact@buzzable.com">contact@buzzable.com</a></p>
            </div>
        </div>
    </div>

</div>
</footer>

</body>
</html>