<!doctype html>
<html>
<head>
<title>Buzzable</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="assets/css/bootstrap.css">
<link rel="stylesheet" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/anim.css">
<link rel="stylesheet" href="assets/css/site.css">
<link rel="stylesheet" href="assets/css/responsive.css">
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/common.js"></script>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="left-login col-lg-6 col-xl-6"> <img src="assets/images/illustration.png" alt="" class="img-fluid illustration"> <span class="copyright-l">Copyright <script> var d = new Date(); var dy = d.getFullYear(); document.write(dy);</script> Social Media Analysis</span> </div>
    <div class="login-right col-lg-6 col-xl-6">
      <div class="access-form">
        <figure class="text-center"><img src="assets/images/login-logo.png" alt="">
          <figcaption>Buzzable</figcaption>
        </figure>

        <form id="hashForm" action="/logincred" method="POST" class="search-form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Email" autocomplete="off" name = doto>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" autocomplete="off" name = doto1>
          </div>
          <div class="form-group">
            <span class="customcheck">
                 <input type="checkbox" id="check1" name="planselect" class="css-checkbox" />
                 <label for="check1" class="css-label"> <span></span>Remember me</label>
               </span>
             <a href="#" class="forgot">Forgot Password</a>
           </div>
           
          <div class="btn-search">
            <button type="submit"><i class="fa fa-paper-plane""></i> Sign In</button>
<!--            <button type="button" class="btn">Submit</button> -->
          </div>
        </form>
        <p class="or">OR</p>
        <a href="/signup" class="targerbtn">Sign Up free</a>
      </div>
      <div class="terms"> <a href="#">Terms of use.</a> <a href="#">Privacy Policy</a> </div>
    </div>
  </div>
</div>
<a class="pageclose" href="index.html">&times;</a>
</body>
</html>